*, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #e4e4e4;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media (max-width: 850px){
    .barra-navegacao{
        background-color: #010196;
        width: 100%;
        height: 70px;
        display: flex;
        flex-direction: row;
        gap: 5px;
    }

    .foto{
        background-image: url("/img/img1.jpg");
        background-size: cover;
        background-position: center;
        width: 100px;
        height: 100px;
        border-radius: 50px;
        margin: 15px;
        margin-right: 15px;
    }

    .desc{
        color: #fff;
        font-weight: bold;
        font-size: 15px;
        margin-top: 45px;
    }

    .cardapio{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 18px;
        margin-bottom: 50px;
    }

    h2{
        font-size: 30px;
        margin-top: 50px;
    }

    details{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: #ffffff;
        border-radius: 10px;
    }

    summary{
        width: 350px;
        height: 35px;
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: center;
        
    }

    details[open] summary{
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    }

    .opc{
        text-align: center;
        font-weight: bold;
        margin-top: 20px;
        margin-bottom: 10px;
    }

    ul{
        padding: 0;
        margin: 0;
        margin-bottom: 10px;
    }

    li{
        list-style: none;
        color: #000;
        margin-top: 10px;
    }

    footer{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 12px;
        color: #fff;
        background-color: #010196;
        padding: 10px;
    }
}
